<table id="players-table">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th class="gold icon"></th>
    <th class="marble icon"></th>
    <th class="iron icon"></th>
    <th class="coins icon"></th>
    <th class="great_king icon"></th>
    <th class="great_scholar icon"></th>
    <th class="great_general icon"></th>
    <th class="great_citizen icon"></th>
    <th class="great_navigator icon"></th>
    <th>Legion pool</th>
    <th>Galley pool</th>
    <th>City pool</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>