<h1>Listing players</h1>

<table id="players-table">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Gold</th>
    <th>Marble</th>
    <th>Iron</th>
    <th>Coins</th>
    <th>Great kings</th>
    <th>Great scholars</th>
    <th>Great generals</th>
    <th>Great citizens</th>
    <th>Great navigators</th>
    <th>Legion pool</th>
    <th>Galley pool</th>
    <th>City pool</th>
    <th>Wheel level</th>
    <th>Sailing level</th>
    <th>Market level</th>
    <th>Monarchy level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>