<div id="games"></div>
<style>
    canvas {
        background-image: url('/assets/orient.jpg');
    }
</style>
<script type="text/javascript">
    $(function() {
        window.router = new Unteekuh.Routers.GamesRouter({games: <%= @games.as_json.to_json.html_safe -%>});
        Backbone.history.start();
    });
</script>